[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "redsun"
dynamic = ["version"]
description = "Event-driven data acquisition software for scientific applications."
readme = "README.rst"
authors = [
  {name = "Jacopo Abramo", email = "jacopo.abramo@gmail.com"}
]
maintainers = [
  {name = "Jacopo Abramo", email = "jacopo.abramo@gmail.com"}
]
classifiers = [

]
license = {text = "BSD 3-Clause license"}
dependencies = [
  "pydantic==2.9.2",
  "psygnal==0.11.1",
  "numpy==2.1.3",
  "exengine[micromanager]",
]

[project.urls]

bugs = "https://github.com/jacopoabramo/redsun/issues"
changelog = "https://github.com/jacopoabramo/redsun/blob/master/changelog.md"
homepage = "https://github.com/jacopoabramo/redsun"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.package-data]
"*" = ["*.*"]

[tool.setuptools.dynamic]
version = {attr = "redsun.__version__"}


# Mypy
# ----

[tool.mypy]
files = "."
exclude = ["docs", "tests", "noxfile.py"]
disable_error_code = ["import-untyped"]

# Use strict defaults
strict = true
warn_unreachable = true
warn_no_return = true

[[tool.mypy.overrides]]
# Don't require test functions to include types
module = "tests.*"
allow_untyped_defs = true
disable_error_code = "attr-defined"

# ruff
# ----

[tool.ruff]
target-version = "py310"
extend-exclude = ["docs", "tests", "noxfile.py"]

[tool.ruff.lint]
select = ["D"] # enable docstring checks

[tool.ruff.lint.pydocstyle]
convention = "numpy"
