[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "redsun"
dynamic = ["version"]
description = "Event-driven data acquisition software for scientific applications."
readme = "README.rst"
authors = [
  {name = "Jacopo Abramo", email = "jacopo.abramo@gmail.com"}
]
maintainers = [
  {name = "Jacopo Abramo", email = "jacopo.abramo@gmail.com"}
]
classifiers = [

]
license = {text = "BSD 3-Clause license"}
dependencies = [
  "typing_extension",
  "pydantic",
  "psygnal",
  "exengine[micromanager]",
]

[project.optional-dependencies]
qt = ["PyQt5"]
dev = [
    "coverage",  # testing
    "mypy",  # linting
    "pytest",  # testing
    "ruff"  # linting
]

[project.urls]

bugs = "https://github.com/jacopoabramo/redsun/issues"
changelog = "https://github.com/jacopoabramo/redsun/blob/master/changelog.md"
homepage = "https://github.com/jacopoabramo/redsun"

[tool.setuptools]
package-dir = {"" = "redsun"}

[tool.setuptools.package-data]
"*" = ["*.*"]

[tool.setuptools.dynamic]
version = {attr = "redsun.__version__"}


# Mypy
# ----

[tool.mypy]
files = "."
exclude = ["docs", "tests"]

# Use strict defaults
strict = true
warn_unreachable = true
warn_no_return = true

[[tool.mypy.overrides]]
# Don't require test functions to include types
module = "tests.*"
allow_untyped_defs = true
disable_error_code = "attr-defined"

