html[data-theme="dark"] img {
    filter: none;
}
html[data-theme="dark"] .bd-content img:not(.only-dark):not(.dark-light) {
    background: unset;
}

html[data-theme="dark"] .only-light ~ figcaption {
    display: block !important;
}
