name: Publish documentation

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:
  publish-docs:
    name: Publish on pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv and setup python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          uv sync --locked
      - name: build docs
        run: |
          cd docs
          make dirhtml
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: docs
          path: docs/_build/dirhtml
      - name: Deploy on gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          external_repository: redsun-acquisition/redsun-acquisition.github.io
          personal_token: ${{ secrets.REDSUN_DOCS_PUBLISH_TOKEN }}
          publish_dir: docs/_build/dirhtml
          destination_dir: sunflare/${{github.ref_name}}
