name: Publish documentation

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:
  publish-docs:
    name: Publish on pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: install dependencies
        run: |
          pip install --upgrade pip
          pip install --editable .[docs]
      - name: build docs
        run: |
          cd docs
          make dirhtml
      - name: upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: docs
          path: docs/_build/dirhtml
      - name: deploy on gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          external_repository: redsun-acquisition/redsun-acquisition.github.io
          personal_token: ${{ secrets.REDSUN_DOCS_PUBLISH_TOKEN }}
          publish_dir: docs/_build/dirhtml
          destination_dir: sunflare/${{github.ref_name}}
