name: Run tests

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      event_name:
        required: true
        type: string
    secrets:
      codecov_token:
        required: false

env:
  PROJECT_NAME: sunflare

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v6
      - name: Install uv and setup python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Install dependencies
        run: |
          uv sync --locked
      - name: Run tests
        run: |
          uv run coverage run -m pytest --color=yes --log-cli-level=DEBUG
      - name: Generate coverage report
        run: |
          uv run python -m coverage combine --append
          uv run python -m coverage xml -o coverage.xml
          uv run python -m coverage report
      
      - name: Generate UUID
        shell: bash
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            echo "UUID=$(powershell -Command "[guid]::NewGuid().ToString()")" >> $GITHUB_ENV
          else
            echo "UUID=$(uuidgen)" >> $GITHUB_ENV
          fi

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: covreport-${{ matrix.os }}-py${{ matrix.python-version }}-${{ env.UUID }}
          path: ./.coverage*
          include-hidden-files: true
    
  upload_coverage:
    if: always()
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv and setup python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
      
      - name: Install dependencies
        run: |
          uv sync --locked

      - name: Download coverage artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: covreport-*
      
      - name: Combine coverage data
        run: |
          REPO_NAME="${GITHUB_REPOSITORY##*/}"
          echo "[paths]" > ci_coveragerc
          echo "source =" >> ci_coveragerc
          # if src exists, add it to the pathmap
          if [ -d "src" ]; then
            echo "    src/" >> ci_coveragerc
            echo "    D:\\a\\$REPO_NAME\\$REPO_NAME\\src" >> ci_coveragerc
            echo "    /home/runner/work/$REPO_NAME/$REPO_NAME/src" >> ci_coveragerc
            echo "    /Users/runner/work/$REPO_NAME/$REPO_NAME/src" >> ci_coveragerc
          else
            echo "    ${GITHUB_WORKSPACE}" >> ci_coveragerc
            echo "    D:\\a\\$REPO_NAME\\$REPO_NAME" >> ci_coveragerc
            echo "    /home/runner/work/$REPO_NAME/$REPO_NAME" >> ci_coveragerc
            echo "    /Users/runner/work/$REPO_NAME/$REPO_NAME" >> ci_coveragerc
          fi
          echo "    */site-packages/" >> ci_coveragerc
          cat ci_coveragerc
          python -Im coverage combine --rcfile=ci_coveragerc .
          python -Im coverage xml -o coverage.xml
          python -Im coverage report
          python -Im coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

      - name: Upload to codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
