name: Check code formatting and type hints

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      event_name:
        required: true
        type: string

jobs:
  ruff:
    name: ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          args: "check --fix"
          src: "src/sunflare"

  mypy-pyqt:
    strategy:
        matrix:
            python-version: ["3.12"]
            frontend: ["pyside", "pyqt"]
            os: [ubuntu-latest]

    name: mypy with Qt
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Install uv and setup python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Install dependencies
        run: |
          uv sync --locked --extra ${{ matrix.frontend }}
      - name: Run mypy
        run: |
          mypy src/sunflare --ignore-missing-imports
